[loggers]
keys=root, gunicorn.error, gunicorn.access, uvicorn

[handlers]
keys=consoleHandler

[formatters]
keys=jsonFormatter

[logger_root]
level=INFO
handlers=

[logger_gunicorn.error]
level=INFO
handlers=consoleHandler
qualname=gunicorn.error

[logger_gunicorn.access]
level=INFO
handlers=consoleHandler
qualname=gunicorn.access

[logger_uvicorn]
level=ERROR
handlers=consoleHandler
qualname=uvicorn

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=jsonFormatter
args=(sys.stdout,)

[formatter_jsonFormatter]
class=plib.plog.formatter.ExternalJsonFormatter
